<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div>
  <p>If you have any questions, you can reach us by phone at: </p>
  <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"> 267-945-1902 - Andrew </span></p>
  <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"> 201-598-4816 - Natalia </span></p>

  <p>or via email:</p>
  <p><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"> Kondzolko@gmail.com - Andrew </span></p>
  <p><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"> Nata788@gmail.com - Natalia </span></p>
</div>
