<% provide(:title, "Contact") %>
<h1>Contact</h1>
<div>
  <p>If you have any questions, you can reach us by phone at:</p>
  <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span> 267-945-1902 - Andrew</p>
  <p><span class="glyphicon glyphicon glyphicon-earphone" aria-hidden="true"></span> 201-598-4816 - Natalia</p>

  <p>or via email:</p>
  <p><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> Kondzolko@gmail.com - Andrew</p>
  <p><span class="glyphicon glyphicon glyphicon-envelope" aria-hidden="true"></span> Nata788@gmail.com - Natalia</p>
</div>
