<% if logged_in? %>
<%= render 'shared/logged_in' %>
<% else %>
<div class="center hero-unit">
  <h1>Welcome to our website</h1>
  <h2>
    In order to access your account, please <%= link_to "login", login_path %>. Don't have an account? <%= link_to "Contact Us!", contact_path %>
  </h2>
</div>
<% end %>