<% if logged_in? %>
    <footer class="footer">
      <div class="container">
        <small> All rights reserved © 2017 </small>
        <nav>
          <ul><li><%= link_to "Contact Us", contact_path %></li>
          </ul>
        </nav>
      </div>
    </footer>
<% else %>
    <footer class="footer">
      <div class="center">
        <small> All rights reserved © 2017 </small>
      </div>
    </footer>
<% end %>