<footer class="footer">
  <div class="container">
      <small>
        <a href="#">9716</a>
        by Natalia Bugaeva
      </small>
    <nav>
      <ul>
        <li><%= link_to "Something", '#' %></li>
        <li><%= link_to "Something", '#' %></li>
        <li><%= link_to "Something", '#' %></li>
      </ul>
    </nav>
  </div>
</footer>